.NavBarItem {
    float: left;
    width: 120px;
}

.NavBarItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.NavBarItem a:hover {
    background-color: #111;
}
